VAULT_ADDR={{ (index (onepassword "cgjllaidrpzycvvg6mrgeae73u").fields 0).value }}
ADMIN_CLIENT_ID={{ (index (onepassword "psrpqpjd45z3qph4yky5z3afpe").fields 1).value }}
ADMIN_CLIENT_SECRET={{ (index (onepassword "psrpqpjd45z3qph4yky5z3afpe").fields 0).value }}
CLOUDAMQP_USER={{ (index (onepassword "gqij2hr6o6nlgq3twuj7st5g5u").fields 0).value }}
CLOUDAMQP_PASS={{ (index (onepassword "gqij2hr6o6nlgq3twuj7st5g5u").fields 1).value }}
CLOUDAMQP_HOST={{ (index (onepassword "gqij2hr6o6nlgq3twuj7st5g5u").urls 0).href }}
CLOUDAMQP_VHOST={{ (index (onepassword "gqij2hr6o6nlgq3twuj7st5g5u").fields 3).value }}
MESSAGE_ENCRYPTION_SECRET={{ (index (onepassword "52xgoku7ro324v4g7c27wb6bdy").fields 0).value }}
STRIPE_API_KEY={{ (index (onepassword "6vezww2mfentjedgxogwsothl4").fields 6).value }}
DEV_SCRIPT_TAG_URLS={{ (index (onepassword "bufjtd7vtmv7aawox7m5pos45e").fields 0).value }}
